{{template "partials/navbar" .}}

<strong id="about">About</strong>
<div class="content-area">
    <p>Welcome!</p>
</div>

<strong id="feedback">Feedback & Contact</strong>

</div>

<strong id="privacy">Privacy</strong>
<div class="content-area">
    <p>I don't collect personal information, store cookies, or use tracking. I log search queries improve the results
        (and I'm curious what people search for).</p>
</div>

<strong id="attribution">Attribution:</strong>
<div class="content-area">
    <p>Icons:<br>Author: <a href="https://www.svgrepo.com/author/pixelbazaar/" target="_blank"
            rel="noopener">pixelbazaar</a><br>License: <a
            href="https://www.svgrepo.com/page/licensing/#CC%20Attribution" target="_blank" rel="noopener"> CC
            Attribution License</a> (No changes were made)</p>
</div>

{{template "partials/footer" .}}