{% extends "base.html" %}

{% block title %}Blog Search{% endblock %}

{% block content %}
    <div class="w-full flex justify-center">
    <pre class="ascii-art">
             v  ~.    v
    v           /|
               / |          v
        v     /__|__
            \--------/
~^~^~^~^~^~^~`~~^~^~'~^~^~^~^~^~
    ~^~^~~~^~~~^~~~^~~~^~^~
</pre>
    </div>
    <form id="search-form" class="w-full mb-4" action="/search" method="get">
        <div class="relative flex justify-center w-full max-w-2xl mx-auto">
            <input type="text" name="q" id="search-input"
                class="w-full rounded-l-md border border-gray-200 px-4 py-2 pr-12 shadow-sm focus:border-[#52718f] focus:outline-none focus:ring-0 text-sm"
                autocomplete="off" autocapitalize="off"
                autocorrect="off" placeholder="Enter your search query..." autofocus value="{{ query or '' }}">
            <button type="submit" id="search-button"
                class="bg-[#52718f] hover:bg-[#405c78] rounded-r-md w-10 flex items-center justify-center transition-colors cursor-pointer">
                <img src="/static/img/arrow-sm-right.svg" alt="Search" class="w-4 h-4 brightness-0 invert">
            </button>
        </div>
    </form>

    <div id="home-content" class="w-full mt-4 text-center">
        <h3 class="font-medium text-lg">About</h3>
        <p class="mb-1">Blog search is a search engine focused on indexing personal blog content.</p>
        <p class="mb-1">Use it to find authentic, personal content from real people sharing their ideas and experiences.</p>
        <p class="mb-1">It currently indexes <strong class="font-mono">{{ posts_size or '_' }}</strong> blog posts.</p>
        <p class="mt-4">
            <a href="#" class="text-[#bf616a] hover:underline visited:text-[#bf616a]">Latest posts</a> | 
            <a href="#" class="text-[#bf616a] hover:underline visited:text-[#bf616a]">Random post</a>
        </p>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('search-form').addEventListener('submit', function (event) {
            var query = document.getElementById('search-input').value.trim();
            if (query === '') {
                event.preventDefault();
                document.getElementById('search-input').focus();
                console.log('Empty search prevented');
            }
        });
    </script>
{% endblock %}