{% extends "base.html" %}

{% block title %}Privacy - Blog Search{% endblock %}

{% block content %}
<div class="w-full">
    <h3 class="text-lg font-medium mb-4">Privacy</h3>
        
    <div class="space-y-3 text-sm">
        <h3 class="font-medium text-md mb-1">Analytics</h3>
        <p>I use a self-hosted Umami instance to see how people use the site. This is privacy-focused that doesn't track you personally.</p>
        
        <h3 class="font-medium text-md mb-1">Cookies</h3>
        <p>No</p>
        
        <h3 class="font-medium text-md mb-1">Search Queries</h3>
        <p>I do save search queries because I'm curious what people are looking for. This also helps me improve the search experience.</p>
        
        <h3 class="font-medium text-md mb-1">Your Data</h3>
        <p>I don't share any data with third parties. This is a hobby project, not a data collection scheme.</p>
    </div>
</div>
{% endblock %} 