{% extends "base.html" %}

{% block title %}{{ query }} - Blog Search{% endblock %}

{% block robots %}<meta name="robots" content="noindex, follow">{% endblock %}

{% block content %}
    <form id="search-form" class="w-full mb-3" action="/search" method="get">
        <div class="relative flex justify-center w-full max-w-xl mx-auto">
            <input type="text" name="q" id="search-input"
                class="w-full rounded-l-md border border-gray-200 px-4 py-2 pr-12 shadow-sm focus:border-[#52718f] focus:outline-none focus:ring-0 text-sm"
                autocomplete="off" autocapitalize="off"
                autocorrect="off" placeholder="Enter your search query..." value="{{ query or '' }}">
            <button type="submit" id="search-button"
                class="bg-[#52718f] hover:bg-[#405c78] rounded-r-md w-10 flex items-center justify-center transition-colors cursor-pointer">
                <img src="/static/img/arrow-sm-right.svg" alt="Search" class="w-4 h-4 brightness-0 invert">
            </button>
        </div>
    </form>

    <div id="search-results-container" class="w-full mx-auto">
        <!-- <div class="flex items-center justify-between border-b border-gray-200 pb-3 mb-3">
            <a class="text-gray-500 hover:text-[#52718f] transition-colors flex items-center text-sm" href="/">
                <img src="/static/img/arrow-sm-left.svg" alt="Back" class="w-3 h-3 mr-2">
                Back to Home
            </a>
            {% if results is defined and results %}
            <span class="text-xs text-gray-500">Found {{ results|length }} results in {{ time }} seconds</span>
            {% endif %}
        </div> -->

        <p class="text-sm text-gray-500 mb-3">Found {{ results|length }} results in {{ time }} seconds</p>

        {% if results is defined %}
            {% if results %}
                <div class="space-y-2" id="results-container">
                    {% for post in results %}
                        <article class="border-l-2 border-[#52718f] pl-3 mb-3 hover:bg-gray-50 transition-colors rounded-r-md {% if loop.index > 6 %}hidden{% endif %}" data-result-index="{{ loop.index }}">
                            <h3 class="text-base font-medium text-gray-700 mb-1">
                                <a href="{{ post.url|default('#') }}" target="_blank" class="hover:text-[#52718f] hover:underline hover:decoration-1 hover:underline-offset-2 transition-colors">
                                    {{ post.title[:95] if post.title else 'untitled' }}
                                </a>
                            </h3>
                            <p class="text-xs text-gray-500 mb-1">
                                {% if post.date %}<span class="font-mono mr-2">{{ post.date }}</span>{% endif %}
                                <a href="{{ post.url|default('#') }}" target="_blank" class="">{{ post.url|default('No URL available') }}</a>
                            </p>
                            <p class="text-xs leading-relaxed text-gray-600">
                                {{ post.text[:270] + '...' if post.text else 'No text available' }}
                            </p>
                        </article>
                    {% endfor %}
                </div>
                
                {% if results|length > 6 %}
                <div class="text-center mt-4">
                    <button id="load-more-button" class="text-xs text-gray-600 hover:text-[#52718f] py-1 px-3 rounded flex items-center mx-auto transition-colors cursor-pointer">
                        <span>More results</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </button>
                </div>
                {% endif %}
            {% else %}
                <article class="mt-10 text-center">
                    <h3 class="text-lg font-medium mb-2">No results found for "{{ query }}"</h3>
                    <p class="text-sm text-gray-600">Try using correctly spelled general keywords.</p>
                </article>
            {% endif %}
        {% else %}
            <article class="mt-10 text-center">
                <h3 class="text-lg font-medium mb-2">Enter a search query above.</h3>
            </article>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        // document.getElementById('search-input')?.focus();

        document.getElementById('search-form').addEventListener('submit', function (event) {
            var query = document.getElementById('search-input').value.trim();
            if (query === '') {
                event.preventDefault(); 
                document.getElementById('search-input').focus();
            }
        });
        
        document.addEventListener('DOMContentLoaded', function() {
            const loadMoreButton = document.getElementById('load-more-button');
            if (loadMoreButton) {
                loadMoreButton.addEventListener('click', function() {
                    const hiddenResults = document.querySelectorAll('#results-container article.hidden');
                    
                    let count = 0;
                    hiddenResults.forEach(function(result) {
                        if (count < 6) {
                            result.classList.remove('hidden');
                            count++;
                        }
                    });
                    
                    if (hiddenResults.length <= 6) {
                        loadMoreButton.classList.add('hidden');
                    }
                });
            }
        });
    </script>
{% endblock %} 